body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  background-color: #1b1b1e;
  font-family: sans-serif, serif;
  color: #fff;
}

/* makes the calendar icon disappear on chrome and makes the input clickable for the picker
remember to set container to position: relative */
.input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  height: 20px;
  width: 100%;
  position: absolute;
  left: 0;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 850px) {
  .main-container {
    width: 80%;
  }
}
