.auto-complete-panel {
  width: 80%;
  max-height: 111px;
  background-color: #1b1b1e;
  position: absolute;
  border: none;
  box-shadow: 0px 0px 10px 1px rgba(57, 67, 183, 0.15);
  /* border-style: inset; */
  border-color: rgb(57, 67, 183);
  /* box-sizing: border-box; */
  overflow: auto;
}

.auto-complete-panel.group {
  top: 171px;
}

.auto-complete-panel.exerciseName {
  top: 225px;
}

.auto-complete-item {
  list-style-type: none;
  font-size: 20px;
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}

.auto-complete-item:hover {
  background-color: gray;
}

.auto-complete-panel ul {
  margin: 0;
  padding-left: 0px;
}
