.exercise-input-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100% - 75px - 85px - 32px); /* will come back to later */
}

.exercise-input-container > .number-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-workout {
  margin-top: 30px;
  margin-bottom: 15px;
}
