.search-container {
  display: flex;
  flex-direction: column;
}

.history-item {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px;
  margin-bottom: 2px;
}

.history-item h4 {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.history-item p {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

.history-item > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.history-item > .numbers {
  display: flex;
  justify-content: space-between;
}
