.nav-container {
  /* margin-top: auto; */
  height: 85px;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: auto;
  width: inherit;
}

.nav-container ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
}

.nav-icon {
  list-style-type: none;
  float: left;
}

.nav-container path {
  color: #fff;
}
